<%- include('includes/head.ejs') %>
    <form action="/add-book" method="POST">
        <input type="text" name="books">
        <button type="submit">Add Book</button>
    </form>
<%- include('includes/end.ejs') %>